* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  list-style: none !important;
  font-family: "Hind";
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

header .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .row {
  height: 100%;
}

header .container .row .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .row .logo img {
  width: 100%;
  padding: 10px;
}

header .container .row .more {
  display: none;
}

header .container .row .nav-links {
  height: 100%;
}

header .container .row .nav-links .navbar {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0;
}

header .container .row .nav-links .navbar li {
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  border: none;
}

header .container .row .nav-links .navbar li a {
  color: #7e5a4e;
  font-weight: 500;
}

header .container .row .nav-links .navbar li:hover {
  border-bottom: #7e5a4e 2px solid;
}

header .container .row .nav-links .navbar li:hover a {
  color: #e56e55;
}

header .container .row .nav-links .navbar .dropdown {
  position: relative;
}

header .container .row .nav-links .navbar .dropdown ul {
  width: 150px;
  position: absolute;
  border-left: 4px solid #7e5a4e;
  background: #fff;
  padding: 0;
  display: none;
}

header .container .row .nav-links .navbar .dropdown ul li {
  padding: 13px 15px !important;
}

header .container .row .nav-links .navbar .dropdown ul li a {
  color: gray;
}

header .container .row .nav-links .navbar .dropdown ul li:hover {
  background-color: #dfada2;
  border: none;
}

header .container .row .nav-links .navbar .dropdown:hover ul {
  display: block;
}

header .container .row .nav-links .navbar .dropdown i {
  margin-left: 4px;
  font-size: 14px;
  color: #7e5a4e;
}

header .container .row .order {
  background-color: #7e5a4e;
  height: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .row .order .call {
  border: 3px solid whitesmoke;
  border-radius: 50%;
  text-align: center;
  padding: 9px;
  margin-right: 10px !important;
}

header .container .row .order .call i {
  font-size: 20px;
  color: whitesmoke;
}

header .container .row .order .ordernum {
  font-size: 15px;
  font-weight: 600;
  color: white;
}

.blog {
  background: rgba(0, 0, 0, 0.7) url(https://newkit.moxcreative.com/breadmeal/wp-content/uploads/sites/6/2022/07/different-types-of-bread-with-spikelets-.jpg);
  background-size: cover;
  height: 362px;
  background-blend-mode: darken;
}

.blog .container .title-blog {
  height: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog .container .title-blog .title h1 {
  font-size: 74px;
}

.blog .container .title-blog .blog-home ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog .container .title-blog .blog-home ul li {
  font-size: 20px;
}

.blog .container .title-blog .blog-home ul .gradient {
  width: 15px;
  height: 2.5px;
  margin: 0 4px;
  background: #ff8800;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff8800), color-stop(100%, #ff9635), to(white));
  background: linear-gradient(0deg, #ff8800 0%, #ff9635 100%, white 100%);
}

.cards {
  background-image: url(https://newkit.moxcreative.com/breadmeal/wp-content/uploads/sites/6/2022/07/43.jpg);
  background-size: cover;
  background-position: center;
  height: 9000px;
}

.cards .card {
  border: none;
  background-color: white;
}

.cards .card .image {
  width: 100%;
  height: 450px;
  background-image: url(https://newkit.moxcreative.com/breadmeal/wp-content/uploads/sites/6/2022/07/pancakes-with-vanilla-sauce-1536x1018.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.cards .card .image .aboutimg {
  position: absolute;
  right: 0;
  display: inline;
  background-color: white;
  padding: 0.6em 1.2em;
  margin: 20px;
  letter-spacing: 3px;
  font-size: 12px;
}

.cards .card .aboutcard {
  padding: 0 25px;
  margin-top: 18px;
}

.cards .card .data {
  color: #e46E49;
}

@media screen and (max-width: 992px) {
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-links ul {
    display: none !important;
  }
  .nav-links .more {
    display: block !important;
    font-size: 25px;
    font-weight: bold;
    color: #7e5a4e;
  }
}
/*# sourceMappingURL=main.css.map */